html
{
  height: 100%;
}

*
{
  margin: 0;
  padding: 0;
}


body
{
  font: normal .80em 'trebuchet ms', open-sans, sans-serif;
  background-color: #cfcfcf;
  margin: auto;
}

p
{
  padding: 0 0 20px 0;
  line-height: 1.7em;
  text-align: left;
}

header
{
  height: 380px;
  width: 100%;
  background-image: url('header/header.png');
  background-position: right;
  background-repeat: no-repeat;
  background-color: #202020;
}

#c1
{
  height: 353px;
  width: 100%;
}

#c2
{
  height: 820px;
  width: 100%;
  background-color: #d8d8d8;
}

#c3
{
  height: 297px;
  width: 100%;
  background-image: url("3/c3bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2a2a2a;
  background-size: contain;
}

#c4
{
  height: 344px;
  width: 100%;
}

footer
{
  height: 249px;
  width: 100%;
  background-color: #202020;
}
